* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: rgb(22, 160, 133);

  height: 100vh;
}

body,
.twitter-cont,
.parent-container,
#quote-container,
.btn-container {
  display: flex;
}

body,
.twitter-cont {
  justify-content: center;
  align-items: center;
}

.parent-container,
#quote-container {
  flex-direction: column;
}

.parent-container {
  background-color: white;
  max-width: 600px;
  min-height: 300px;
  max-height: 700px;
  padding: 1.25rem 3.75rem 1.875rem;

  border-radius: 10px;
  color: rgb(22, 160, 133);
}

.quote-text {
  font-size: 2.5rem;
  margin-top: 0.625rem;
}
.quote-author {
  margin-top: 1.25rem;
}

.btn-container {
  margin-top: 3.125rem;

  gap: 0.625rem;
}
.quote-btn,
.quote-author {
  margin-left: auto;
}

.quote-btn {
  /* padding: 0.3125rem 0.625rem; */
  font-size: 1.5rem;
  padding: 2rem 3rem;
}
.link {
  text-decoration: none;
}

.quote-btn {
  border: none;
  padding: 0.5rem 1rem;

  cursor: pointer;
  background-color: rgb(22, 160, 133);

  padding: 0.3125rem 0.625rem;
  color: white;
  border-radius: 0.125rem;
}

.twitter-cont {
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
}
.twitter-cont > a {
  color: black;
}
.facebook-cont > a {
  color: blue;
}

/* RESPONSIVE DESIGN */

@media (max-width: 600px) {
  .parent-container {
    width: 80%;
  }
  .quote-text {
    font-size: 1rem;
  }
  .quote-author {
    font-size: 0.7rem;
  }
  .quote-btn {
    width: 100%;
    margin-top: 1rem;
    font-size: 1rem;
  }

  .twitter-cont {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.5rem;
  }
  .btn-container {
    gap: 0.3rem;
  }
}
